body {
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  color: white;
  text-align: center;
  background: "http://www.walldevil.com/wallpapers/a11/background-backgrounds-abstract-advertisements-presentations-web-blue.jpg";
}

h4 {
  margin-left: 250px;
  margin-right: 250px;
}
