head {
  text-shadow: 5px 5px 10px #000000;
}

body {
  font-family: : "Times New Roman", "Times", serif;
  line-height: 1.5;
  color: white;
  text-align: center;
  text-shadow: 5px 5px 10px #000000;
}

h3 {
  margin-left: 250px;
  margin-right: 250px;
}

a:link {
  color: white;
}

a:visited {
  color: blue;
}

a:hover {
  color: blue;
}

a:active {
  color: purple;
}
